.author {
    font-size: 1rem;
    line-height: 30px;
    color: #a0a0a0;
    margin: 0 0 10px 0;
}

.author code {
    font-size: 0.702rem;
    font-weight: 400;
    display: inline-block;
}

.by {
    margin-right: 18px;
}

.extraneous {
    display: inline-block;
    font-size: 0.79rem;
}

.dot {
    padding: 0 0.5em;
}

.dot::after {
    content: "\00B7";
}
