html,
body {
    background: #161616;
    color: #f0f0f0;
    margin: 0;
    padding: 0;

    font-family: "Cormorant Garamond", serif;
    font-size: 22px;
    line-height: 1.5;
}

.robust {
    font-family: "EB Garamond", serif;
}

code {
    font-family: "Source Code Pro", monospace;
}
